/* TABLE OF CONTENTS */

/* 1. Theme */

/* 2. Scrollbar */

/* 3. Rules */

/* 4. Globals */

/* 5. Navigation */

/* 6. Footer */

/* 7. Home Page */

/* 10. 404 Page */

/* LIGHT THEME */

:root {
    --scale: 1;
    --primaryLight: #00dfc8;
    --primaryMain: #00b4a0;
    --primaryDark: #007268;
    --secondaryLight: #0080c8;
    --secondaryMain: #005096;
    --secondaryDark: #003068;
    --infoMain: #005096;
    --successMain: #00b4a0;
    --warningMain: #ffb400;
    --errorMain: #ff4064;
    --txtPrimary: #555;
    --txtSecondary: #555555a0;
    --txtTertiary: #55555580;
    --txtPrimaryContrast: #fff;
    --txtSecondaryContrast: #ffffffa0;
    --txtTertiaryContrast: #ffffff80;
    --divider: #55555532;
    --actionActive: #555555a0;
    --actionHover: #55555512;
    --actionSelected: #55555524;
    --actionDisabled: #55555564;
    --actionDisabledBG: #55555532;
    --actionFocus: #55555532;
    --backgroundClear: #f0faff;
    --backgroundDefault: #eaf4fa;
    --backgroundLight: #e4eff4;
    --backgroundMain: #e0ecf0;
    --backgroundDark: #dce8ec;
}

/* RULES */

html {
    scroll-behavior: smooth;
}

:focus {
    outline-color: var(--primaryMain);
}

.anim {
    transition: 0.15s ease-out;
}

.shade {
    filter: drop-shadow(2px 2px 4px #00000060);
}

a {
    color: inherit;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.title {
    padding: 48px 0 24px 0;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
}

.titleLine {
    width: 96px;
    height: 2px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    background: var(--txtPrimaryContrast);
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--txtTertiary);
}

textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--txtTertiary);
}

/* GLOBALS */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: var(--txtPrimary);
    background-color: var(--backgroundDefault);
}

#root {
    position: relative;
    min-height: 100vh;
}

.notify {
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--infoMain);
    color: var(--txtPrimaryContrast);
    opacity: 0;
    box-shadow: 2px 2px 8px #00000060;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.5s ease-out;
}

.notify h5 {
    text-align: center;
    line-height: normal;
    font-weight: 500;
}

.notify.hide {
    visibility: hidden;
    top: 0;
    opacity: 0;
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

.notify.show {
    visibility: visible;
    top: 96px;
    opacity: 1;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.notify.info {
    background-color: var(--infoMain);
}

.notify.success {
    background-color: var(--successMain);
}

.notify.warning {
    background-color: var(--warningMain);
}

.notify.error {
    background-color: var(--errorMain);
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 96px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 96px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 96px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 96px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

#navPad {
    width: 100%;
    height: 72px;
}

#footPad {
    width: 100%;
    height: 176px;
}

#home, #notFound {
    position: relative;
    width: 100%;
}

/* NAVIGATION */

nav {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: var(--backgroundClear);
    box-shadow: 0px 6px 12px #00000020;
}

#navShow {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease-out;
}

#navHide {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: -72px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-out;
}

#navL {
    width: max-content;
    padding: 12px 104px 12px 0px;
}

#navL img {
    max-height: 48px;
}

#navC {
    width: 100%;
    padding: 12px 12px 12px 12px;
    line-height: 1;
}

.navCBlock {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}
.navCBreak {
    display: inline-block;
    width: 36px;
}

#navC img, .footer3rdBlock img {
    display: inline-block;
    vertical-align: top;
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    min-height: 24px;
}

#navC h6 {
    display: inline-block;
    margin-top: 5px;
    font-weight: 500;
    color: var(--txtSecondary);
}

#navR {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 0px 12px 12px;
}

.navBtn, .navBtnActive {
    position: relative;
    width: max-content;
    height: 48px;
    color: var(--txtSecondary);
    text-align: center;
    cursor: pointer;
}

.navBtn p, .navBtnActive p {
    vertical-align: top;
    padding-top: 16px;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s ease-out;
}

.navBtnBreak {
    width: 64px;
}

.navBtnLine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    border-radius: 1px;
    background: #00000000;
    transition: 0.2s ease-out;
}

.navBtn:hover, .navBtn:focus {
    color: var(--txtPrimary);
}

.navBtn:active, .navBtnActive {
    color: var(--primaryMain);
}

.navBtn:hover .navBtnLine, .navBtn:focus .navBtnLine {
    width: 100%;
    background: var(--txtPrimary);
}

.navBtn:active .navBtnLine, .navBtnActive .navBtnLine {
    background: var(--primaryMain);
}

.navBtnActive:hover .navBtnLine {
    width: 100%;
    background: var(--primaryMain);
}

/* FOOTER */

footer {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--primaryDark);
    color: var(--txtPrimaryContrast);
}

#footerTop {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: #00000060;
    text-align: center;
}

#footerTop a {
    transition: 0.2s;
}

#footerTop a:hover {
    color: var(--primaryLight)
}

.footer3rd {
    width: 100%;
    padding: 48px;
}

.footer3rdBlock img {
    vertical-align: top;
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    margin-bottom: 8px;;
}

.footer3rdBreak {
    width: 100%;
    height: 24px;
}

.footer3rd h4 {
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
}

.footer3rd h6 {
    line-height: 1.5;
}

.footerLine {
    min-width: 2px;
    min-height: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    background: #00000020;
}

#footerBottom {
    width: 100%;
    padding: 16px 0;
    background: #00000080;
    text-align: center;
    line-height: 1;
}

#footerBottom p {
    font-weight: 100;
}

#footerBottom a {
    text-decoration: underline;
    transition: 0.2s;
}

#footerBottom a:hover {
    color: var(--primaryLight)
}

#footerIcons {
    padding: 24px 0 0 0;
}

.footerIcon {
    max-width: 48px;
    margin: 0 8px;
}

/* HOME */

#homeServices {
    width: 100%;
    height: 480px;
    background: var(--secondaryLight);
    color: var(--txtPrimaryContrast);
}

#homeHow {
    width: 100%;
    height: 480px;
    background: var(--backgroundDark);
    color: var(--txtPrimaryContrast);
}

#homeClients {
    width: 100%;
    height: 480px;
    background: var(--primaryMain);
    color: var(--txtPrimaryContrast);
}

/* 404 NOT FOUND */

#notFoundFix {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: calc(2.5em * var(--scale));
    text-align: center;
}

#notFoundDrop {
    max-width: calc(1440px * var(--scale));
    width: max-content;
    height: max-content;
    padding: calc(48px * var(--scale));
    border-radius: 8px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: var(--backgroundClear);
    box-shadow: 2px 2px 8px #00000040;
}

#notFound404 {
    color: var(--secondaryMain);
    font-size: calc(50px * var(--scale));
    font-weight: 600;
    margin-bottom: calc(24px * var(--scale));
}

#notFoundP {
    font-size: calc(18px * var(--scale));
}

#notFoundP a {
    color: var(--primaryMain);
    font-weight: 600;
    transition: 0.2s;
}

#notFoundP a:hover, #notFoundP a:focus {
    color: var(--primaryLight);
}