/* HOME RULES */

/* HERO */

#home-hero {
    position: relative;
    width: 100%;
    height: 800px;
    padding-top: 222px;
    background: var(--background-dark);
    background-image: url(../images/clean3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

#home-hero-drop {
    padding: 48px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #f0faff00, #f0faffcc, #f0faffef, #f0faffcc, #f0faff00);
}

#home-hero-hold {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#home-hero-logo {
    max-height: 256px;
}

/* INDUSTRIES */

#home-industries {
    background: var(--secondary-light);
    color: var(--txt-contrast);
}

#home-industries-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.home-industries-item {
    flex: 0 30%;
    margin: 48px 0 0 0;
    /* background: #ffffff20; */
}

.home-industries-item-vector {
    max-height: 96px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.home-industries-item-head {
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: 3px;
}

.home-industries-item-body {
    line-height: 1.333;
}

/* SERVICES */

#home-services {
    background: var(--background-white);
    color: var(--txt-secondary);
}

#home-services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.home-services-item {
    flex: 0 48%;
    margin: 12px 0 0 0;
    /* background: #ffffff20; */
}

.home-services-item-head {
    font-weight: 500;
    margin-bottom: 12px;
    letter-spacing: 3px;
}

.home-services-item-subhead {
    line-height: 1.333;
    font-weight: 400;
    margin-bottom: 12px;
}

.home-services-item-list {
    width: fit-content;
    padding: 24px;
    border-radius: 8px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #0000000f;
}

.home-services-item-body {
    line-height: 2;
    font-weight: 600;
}

/* HOW */

#home-how {
    background: var(--primary-main);
    color: var(--txt-contrast);
}

#home-how-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
}

.home-how-item {
    flex: 0 22%;
    margin: 12px 0 0 0;
}

.home-how-item-vector {
    max-height: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.home-how-item-head {
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

.home-how-item-body {
    margin-bottom: 24px;
    line-height: 1.333;
}