/* WHY US RULES */

/* BLURB */

#why-us-blurb {
    position: relative;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    background: var(--background-dark);
}

#why-us-blurb-drop {
    padding: 64px 48px 48px;
    border-radius: 8px;
    background: var(--background-white);
    color: var(--txt-secondary);
    box-shadow: 2px 2px 8px #00000040;
}

#why-us-blurb-grid {
    display: flex;
    flex-wrap: wrap;
}

.why-us-blurb-item {
    flex: 0 33%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.why-us-blurb-item-vector {
    display: inline-block;
    vertical-align: top;
    max-width: 24px;
    margin-right: 12px;
}

.why-us-blurb-item-txt {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    font-weight: 600;
}